/* Reset styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* CSS styles for heading and paragraphs */
h2, h3 {
   margin: 10px;
   font-size: 20px;
}

h3 {
   font-size: 17px;
}

p {
   margin: 10px;
   font-size: 15px;
}

/* Create a position for the map on the page */
.body-content {
   position: fixed;
   top: 60px;
   width: 100%;
   height: calc(100vh - 60px);
   display: flex;
   flex-direction: row;
}

#map-container {
   flex-grow: 1;
}

#map {
   width: 100%;
   height: 100%;
}

.map-overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   background: rgb(255, 255, 255);
   border-style: solid;
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.2);
   margin: 10px;
   margin-bottom: 30px;
   border-radius: 3px;
}
/* CSS styles for the map overlay/legend */
#legend {
   position: fixed;
   bottom: 10px;
   left: 20px;
   display: flex;
   flex-direction: column; /* Change to column for a vertical layout */
   border-radius: 1px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
   background-color: #ffffff; /* Set the background color to white */
   margin: 5px;
   padding: 14px;
}

.legend-key {
   position: relative;
   display: flex;
   align-items: center;
   margin: 5px;
   width: 100%; /* Adjusted width for better spacing */
   height: 30px; /* Adjust height as needed */
   border-radius: 5px; /* Optional: for rounded corners */
}

.legend-key .color-box {
   width: 70%; /* Adjust the width of the color box as needed */
   height: 100%;
   border-radius: 5px; /* Optional: for rounded corners */
}

.legend-key span {
   position: absolute;
   z-index: 2;
}

#side-container {
   background: rgb(255, 255, 255);
   border-style: solid;
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.2);
   flex-basis: 425px;
   justify-items: center;
   align-items: center;
   text-align: center;
   overflow-y: scroll;
   display: relative;
   padding: 10px;
   z-index: 2;
}

#features {
   top: 0;
   height: max-content;
   margin-top: 20px;
   width: 100%;
}

#chart-container {
   position: relative;
   background: rgba(255, 255, 255, 0.8);
   border-style: solid;
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.2);
   margin-bottom: 30px;
   border-radius: 3px;
   width: 100%;
   height: max-content;
}

#line-chart {
   display: flex;
   flex-basis: auto;
   padding: 5px;
}

#side-panel {
   position: relative;
   margin-bottom: 10px;
}

button {
   margin-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 1px solid #ddd;
}

th, td {
   font-size: 13px;
   text-align: left;
   align-items: stretch;
   padding: 5px;
}

i {
   cursor: pointer;
}

i:hover {
   color: #4a944b;
}

#tooltip {
   position: fixed;
   visibility: hidden;
   padding: 10px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   z-index: 1;
   pointer-events: none;
}

/* CSS styles for the navbar */
.nav__bar {
   background-color: #006500; /* Set the background color to green */
   padding: 10px;
   font-weight: bold; /* Set the font weight to bold */
   font-size: 18px; /* Set the font size to be larger */
   font-family: 'Serif', sans-serif; /* Use a more serious font */
}

.nav__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* CSS styles for the logo */
.logo {
   color: white; /* Set the font color to white */
   text-decoration: none;
   font-size: 24px; /* Adjust font size as needed */
   font-weight: bold; /* Set font weight to bold */
}

.logo:hover {
   color: #e6e6e6; /* Set the font color on hover */
}
