* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 
 /* CSS styles for heading and paragraphs */
 h2,
 h3 {
    margin: 10px;
    font-size: 20px;
 }
 
 
 h3 {
    font-size: 17px;
 }
 
 
 p {
    margin: 10px;
    font-size: 15px;
 }
 
 
 
 
 /**
 * Create a position for the map
 * on the page */
 .body-content {
    position: fixed;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
 }
 
 
 #description-popup,
 #acknowledge-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 10;
    width: 600px;
    height: 95%;
    overflow-y: auto;
    background-color: rgba(228, 228, 228, 0.7);
    display: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
 }
 
 
 #map-container {
    flex-grow: 1;
 }
 
 
 #map {
    width: 100%;
    height: 100%;
 }
 
 
 .map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
 }
 
 
 #legend {
    position: fixed;
    bottom: 10px;
    left: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff; /* Set the background color to white */
 }
 
 
 .legend-key {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100px; /* Increased width for better fit, adjust as needed */
    height: 30px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: for rounded corners */
 }
 
 
 .legend-key .color-box {
    width: 70%; /* Adjust the width of the color box as needed */
    height: 100%;
    border-radius: 5px; /* Optional: for rounded corners */
 }
 
 
 .legend-key span {
    position: absolute;
    z-index: 2;
 }
 
 
 
 
 #openbtn {
    position: absolute; /* or position: absolute; */
    top: 10px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the left position as needed */
    display: block;
    font-size: 20px;
    z-index: 2;
 }
 
 
 #side-container {
    background: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    flex-basis: 425px;
    justify-items: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    display: relative;
    padding: 10px;
    z-index: 2;
 }
 
 
 #closebtn {
    top: 10px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the left position as needed */
    position: absolute;
    display: relative;
    font-size: 20px;
    cursor: pointer;
 }
 
 
 #features {
    top: 0;
    height: max-content;
    margin-top: 20px;
    width: 100%;
 }
 
 
 #chart-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    border-radius: 3px;
    width: 100%;
    height: max-content;
 }
 
 
 
 
 .center {
    margin:auto;
 }
 
 
 #line-chart {
    display: flex;
    flex-basis: auto;
    padding: 5px;
 }
 
 
 #side-panel {
    position: relative;
    margin-bottom: 10px;
 }
 
 
 button {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
 }
 
 
 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
 }
 
 
 th,
 td {
    font-size: 13px;
    text-align: left;
    align-items: stretch;
    padding: 5px;
 }
 
 
 i {
    cursor: pointer;
 }
 
 
 i:hover {
    color: #4a944b;
 }
 
 
 tr:nth-child(even) {
    background-color: #f2f2f2;
 }
 
 
 @media screen and (max-width: 1200px) {
    #side-container {
        display: none;
    }
 
 
    #legend {
        flex-direction: column;
    }
 }
 
 
 .mapboxgl-canvas-container.mapboxgl-interactive,
 .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
 }
 